@media (min-width: 1024px) {

    .footer {
        background-image: url("../../img/game_1920.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .footer__inner {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 45, 0.8);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .footer__content {
        margin-top: 125px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer__content-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer__wrap-logo {
        background-color: #6d4dc7;
        border-radius: 10px;
        height: 125px;
        width: 125px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: 30px;
    }

    .footer__logo {
        width: 100px;
        height: 80px;
    }

    .footer__content-text_bold {
        font-size: 80px;
        color: #FFFFFF;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 80px;
    }

    .footer__content-text_normal {
        font-size: 30px;
        color: #8378a7;
        text-transform: uppercase;
    }

    .footer__bottom-wrap-logo {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .footer__bottom-logo {
        height: 50px;
        width: 205px;
        margin-bottom: 50px;
    }

    
    .footer__wrapper-logo{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 230px;
    }


    .click-left, .click-right {
        display: flex;
        width: 310px;
        height: 77px;
        background-color: #5e42b0;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        border-radius: 50px;
        align-items: center;
        margin-top: 220px;
        text-decoration: none;
    }

    .download-logo-apple {
        margin-left: 40px;
        width: 42px;
        height: 48px;
    }

    .download-logo-google {
        width: 40px;
        height: 50px;
        margin-left: 40px;
    }

    .download {
        display: flex;
        flex-flow: column;
        margin-left: 27px;
    }

    .button {
        display: flex;
        justify-content: center;
    }

    .click-left {
        margin-right: 25px;
    }

    .click-right {
        margin-left: 25px;
    }

    .download-start {
        font-weight: regular;
    }

    .download-end {
        font-weight: bold;
    }
}