@media (min-width: 768px) and (max-width: 1023px) {

	.footer {
		background-image: url("../../img/game_767.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.footer__inner {
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 45, 0.8);
		display: flex;
	}
	
	.footer__content {
		margin-top: 125px;
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
	}

	.footer__content-text {
		display: flex;
		flex-direction: column;
	}

	.footer__wrap-logo {
		background-color: #6d4dc7;
		border-radius: 10px;
		height: 125px;
		width: 125px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 55px;
		margin-left: auto;
		margin-right: auto;
	}

	.footer__logo {
		width: 100px;
		height: 80px;
	}

	.footer__content-text_bold {
		font-size: 80px;
		color: #FFFFFF;
		font-weight: bold;
		text-transform: uppercase;
	}

	.footer__content-text_normal {
		font-size: 36px;
		color: #8378a7;
		text-transform: uppercase;
	}

	.header__wrap_btn {
		display: flex;
		margin-top: 90px;
		width: 100%;
		align-items: center;
	}

	.footer__btn,
	.footer__btn2 {
		width: 305px;
		height: 70px;
		border-radius: 50px;
		background-color: #5e42b0;
		display: flex;
		align-items: center;
		text-decoration: none;
	}

	.footer__btn:last-child,
	.footer__btn2:last-child {
		margin-left: 30px;
	}

	.footer__btn_content {
		display: flex;
		margin-left: 50px;
		align-items: center;
	}

	.footer__btn_inner-content {
		display: flex;
		flex-direction: column;
		color: white;
		font-size: 14px;
		text-transform: uppercase;
		margin-left: 25px;
	}

	.footer__btn_img_apple {
		height: 42px;
		width: 36px;
	}

	.footer__btn_img_google {
		height: 45px;
		width: 41px;
	}

	.footer__btn-content_bold{
		font-weight: bold;
	}

	.footer__bottom-wrap-logo {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.footer__bottom-logo {
		height: 50px;
		width: 205px;
		margin-bottom: 20px;
	}

	.footer__wrap_btn{
		display: flex;
		margin-top: 185px;
		margin-bottom: 40px;
	}
}