@media (min-width: 768px) and (max-width: 1023px) {

	.header {
		background-image: url("../../img/football_767.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.header__inner {
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 45, 0.8);
		padding-top: 45px;
	}

	.header__inner_logo {
		width: 100%;
		height: 55px;
		display: flex;
		justify-content: center;
	}

	.header__inner_logo-img {
		height: 55px;
		width: 200px;
	}

	.header__inner_content {
		display: flex;
		justify-content: center;
		text-transform: uppercase;
	}

	.header__inner_content-text {
		color: white;
		display: flex;
		flex-direction: column;
    	padding-left: 90px;
    	padding-right: 85px;
    	width: 593px;
	}

	.header__inner_content-text-head-span {
		width: 473px;
	}


	.header__inner_content-text-span{
		width: 488px;
		align-self: flex-end;

	}

	.header__wrap_btn {
		display: flex;
		width: 100%;
		justify-content: center;

	}

	.header__btn,
	.header__btn2 {
		background-color: #5e42b0;
		display: flex;
		align-items: center;
		text-decoration: none;
	}

	.header__btn:last-child {
		margin-bottom: 85px;
	}

	.header__btn_content {
		display: flex;
	}

	.header__btn_inner-content {
		display: flex;
		flex-direction: column;
		color: white;
		font-size: 8px;
		text-transform: uppercase;
		font-size: 14px;
		justify-content: center;
		margin-left: 25px;
	}

	.header__btn_img_apple {
		height: 42px;
		width: 36px;
	}

	.header__btn_img_google {
		height: 45px;
		width: 41px;
	}

	.header__btn-content_bold {
		font-weight: bold;
	}

	.header__inner{
		padding-bottom: 85px;
	}

	.header__inner_logo{
		margin-bottom: 175px;
	}

	.header__inner_content-text{
		font-size: 64px;
		line-height: normal;
	}


	.header__btn:last-child,
	.header__btn2:last-child {
		margin-bottom: 0;
		margin-left: 30px;
	}


	.header__btn, 
	.header__btn2 {
		width: 305px;
		height: 70px;
		border-radius: 50px;
		margin-bottom: 0;
	}

	.header__btn_content{
		margin-left: 50px;
	}
}