@media (min-width: 1024px) {

	.status__wrap-content {
		position: relative;
		display: flex;
	}

	.status__content-img {
		width: 50%;
	}

	.status__content-number,
	.status__content-number02 {
		width: 150px;
		height: 150px;
		position: absolute;
		background-color: #5e42b0;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 205px;
		margin-left: calc(50% - 75px);
	}

	.status__content_text-title {
		font-size: 80px;
		font-weight: bold;
		color: #e7e7e7;
		text-transform: uppercase;
		margin-bottom: 70px;
	}

	.status__content-text {
		font-size: 24px;
		width: 50%;
		padding-top: 220px;
		padding-left: 130px;
		padding-right: 75px;
		box-sizing: border-box;
		padding-bottom: 250px;
	}

	.be-active {
		object-fit: cover;
    	height: 100%;
    	width: 100%;
    	object-position: right;
	}

	.find-contact {
		object-fit: cover;
    	height: 100%;
    	width: 100%;
    	object-position: left;
	}

	.work-it {
		object-fit: cover;
    	height: 100%;
    	width: 100%;
    	object-position: left;
	}

	.find-contact-number-span,
	.be-active-number-span,
	.work-it-number-span {
		color: #ffffff;
		font-weight: bold;
		font-size: 24px;
		display: flex;
		flex-direction: column;
	}
}