@media (max-width: 767px) {

	.status__wrap-content {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.status__content-img {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 100%;
		position: relative;
	}

	.status__content-number {
		width: 65px;
		height: 65px;
		position: absolute;
		background-color: #5e42b0;
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: -15px;
		left: 20px;
	}

	.status__content_text-title {
		font-size: 28px;
		font-weight: bold;
		color: #e7e7e7;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	.status__content-text {
		font-size: 16px;
		padding: 30px 25px 80px 15px;
	}

	.be-active {
		object-fit: cover;
    	height: 100%;
    	width: 100%;
    	object-position: right;
	}

	.find-contact {
		object-fit: cover;
    	height: 100%;
    	width: 100%;
    	object-position: right;
	}

	.work-it {
		object-fit: cover;
    	height: 100%;
    	width: 100%;
    	object-position: right;
	}

	.find-contact-number {
		order: 3;
	}

	.find-contact-text {
		order: 2;
	}

	.find-contact-img {
		order: 1;
	}


	.find-contact-number-span,
	.be-active-number-span,
	.work-it-number-span {
		color: #ffffff;
		font-weight: bold;
	}
}