@media (min-width: 1024px) {

    .mobile{
        display: none;
    }

    .kinds__athlets{
        position: relative;
    }

    .athlets__text_title,
    .players__text_title {
        font-size: 50px;
        color: #e7e7e7;
        text-transform: uppercase;
        font-weight: bold;
    }

    .athlets__connection-title,
    .athlets__collaboration-title,
    .athlets__growth-title,
    .players__connection-title,
    .players__collaboration-title,
    .players__growth-title {
        font-size: 36px;
        line-height: 24px;
        color: #e7e7e7;
        text-transform: uppercase;
        font-weight: bold;
    }

    .athlets__connection-text,
    .athlets__collaboration-text,
    .athlets__growth-text{
        font-size: 20px;
        color: #000000;
        margin-left: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 450px;
    }

    .athlets__growth-text{
        font-size: 20px;
        color: #ffffff;
        margin-left: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 450px;
    }

    .players__connection-text,
    .players__collaboration-text {
        font-size: 20px;
        color: #000000;
        margin-left: 10%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 720px;
    }

    .players__growth-text{
        color: white;
        margin-left: 20px;
        width: 425px;
    }

    .players__growth-text {
        font-size: 15px;
        line-height: 18px;
        color: #ffffff;
        margin-left: 10%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 720px;
    }


    .kinds__players{
        position: relative;
        overflow: hidden;
    }

    .athlets__wrap-connection,
    .athlets__wrap-collaboration,
    .athlets__wrap-growth,
    .players__wrap-connection,
    .players__wrap-collaboration,
    .players__wrap-growth {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 55px;
    }

    .athlets__wrap-collaboration,
    .athlets__wrap-growth,
    .players__wrap-collaboration,
    .players__wrap-growth {
        padding-top: 40px;
    }

    .players__wrap-collaboration{
        padding-bottom: 90px;
    }

    .athlets__wrap-collaboration,
    .players__wrap-collaboration {
        background-color: #f5f4f9;
    }

    .athlets__wrap-growth {
        background-color: #5e42b0;
    }

    .players__wrap-growth {
        background-color: #090c35;
    }

    .athlets__number_black,
    .players__number_black {
        color: black;
        font-weight: bold;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 3px solid #5e42b0;
        margin-bottom: 3px;
        margin-right: 10px;
        margin-top: 0;
    }

    .athlets__number_violet {
        color: black;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid white;
        margin-bottom: 3px;
        margin-top: 0;
        margin-right: 10px;
    }

    .players__number_violet {
        color: #8765dd;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid white;
        margin-bottom: auto;
        margin-top: 0;
        margin-right: 10px;
        margin-bottom: 3px;
    }

    .athlets__img {
        height: 850px;
        width: 520px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        left: 390px;
        top: -50px;
    }

    .players__img {
        height: 750px;
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        right: 125px;
        top: 25px;
    }

    .athlets__text_title {
        margin-left: 50%;
        line-height: normal;
        font-size: 80px;
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .players__text_title{
        margin-left: 10%;
        line-height: normal;
        font-size: 80px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .players__wrap-connection-title,
    .players__wrap-connection-title,
    players__wrap-connection-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .athlets__wrap-growth-title,
    .athlets__wrap-connection-title,
    .athlets__wrap-collaboration-title{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 50%;
        margin-bottom: 25px;
    }

    .players__wrap-growth-title,
    .players__wrap-connection-title,
    .players__wrap-collaboration-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 10%;
        margin-bottom: 25px;
    }
}

@media (min-width: 1024px) {
    .players__img{
        height: 750px;
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        right: -325px;
        top: 25px;
    }

    .athlets__img{
        height: 850px;
        width: 520px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        left: 0;
        top: -50px;
    }
}

@media (min-width: 1600px) {
    .players__img{
        height: 750px;
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        right: 0;
        top: 25px;
    }

    .athlets__img{
        height: 850px;
        width: 520px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        left: 100px;
        top: -50px;
    }
}