@media (min-width: 768px) and (max-width: 1023px) {

	.mobile{
		display: none;
	}

	.kinds__athlets{
		position: relative;
	}

	.athlets__text{

	}

	.athlets__text_title,
	.players__text_title {
		font-size: 50px;
		color: #e7e7e7;
		text-transform: uppercase;
		font-weight: bold;
	}

	.athlets__connection-title,
	.athlets__collaboration-title,
	.athlets__growth-title,
	.players__connection-title,
	.players__collaboration-title,
	.players__growth-title {
		font-size: 23px;
		line-height: 24px;
		color: #e7e7e7;
		text-transform: uppercase;
		font-weight: bold;
	}

	.athlets__connection-text,
	.athlets__collaboration-text,
	.athlets__growth-text{
		font-size: 15px;
		line-height: 18px;
		color: #000000;
		margin-left: 40%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 450px;
	}

	.athlets__growth-text{
		color: white;
	}

	.players__connection-text,
	.players__collaboration-text {
		font-size: 15px;
		line-height: 18px;
		color: #000000;
		margin-left: 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 425px;
	}

	.players__growth-text{
		color: white;
		margin-left: 20px;
		width: 425px;
	}

	.players__growth-text {
		font-size: 15px;
		line-height: 18px;
		color: #ffffff;
		margin-left: 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 270px;
	}

	.kinds {
		padding-top: 70px;
	}

	.kinds__players{
		position: relative;
		padding-top: 70px;
		overflow: hidden;
	}

	.athlets__wrap-connection,
	.athlets__wrap-collaboration,
	.athlets__wrap-growth,
	.players__wrap-connection,
	.players__wrap-collaboration,
	.players__wrap-growth {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding-bottom: 40px;
		padding-top: 40px;
	}

	.athlets__wrap-collaboration,
	.players__wrap-collaboration {
		background-color: #f5f4f9;
	}

	.athlets__wrap-growth {
		background-color: #5e42b0;
	}

	.players__wrap-growth {
		background-color: #090c35;
	}

	.number_black::after {
		content: "";
		width: 100%;
		height: 5px;
		border-radius: 2px;
		display: flex;
		flex-direction: column;
		background-color: #5e42b0;
	}

	.number_white::after {
		content: "";
		width: 100%;
		height: 4px;
		border-radius: 2px;
		display: flex;
		flex-direction: column;
		background-color: #ffffff;
	}

	.number_blue::after {
		content: "";
		width: 100%;
		height: 5px;
		border-radius: 2px;
		display: flex;
		flex-direction: column;
		background-color: #a496ca;
	}

	.athlets__number_black,
	.players__number_black {
		color: black;
		font-weight: bold;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 3px;
		margin-right: 10px;
		margin-top: 0;
	}

	.athlets__number_violet {
		color: black;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 3px;
		margin-top: 0;
		margin-right: 10px;
	}

	.players__number_violet {
		color: #8765dd;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: auto;
		margin-top: 0;
		margin-right: 10px;
		margin-bottom: 3px;
	}

	.athlets__img {
		height: 660px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		left: -220px;
		top: 30px;
	}

	.players__img {
		height: 515px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		right: -220px;
		top: 60px;
	}

	.athlets__text_title {
		margin-left: 40%;
		line-height: normal;
		font-size: 80px;
	}

	.players__text_title{
		margin-left: 20px;
		line-height: normal;
		font-size: 80px;
	}

	.players__wrap-connection-title,
	.players__wrap-connection-title,
	players__wrap-connection-title {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.athlets__wrap-growth-title,
	.athlets__wrap-connection-title,
	.athlets__wrap-collaboration-title{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-left: 40%;
		margin-bottom: 25px;
	}

	.players__wrap-growth-title,
	.players__wrap-connection-title,
	.players__wrap-collaboration-title {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-left: 20px;
		margin-bottom: 25px;
	}
}